

#hangman_image {
    width: 40%;
    height: 40%;
}


/*
#score {
    position: absolute;
    top: 5%;
    left: 5%;
}

#reset {
    position: absolute;
    top: 5%;
    right: 20%;
    width: 15%;
    height: 10%;
    font-size: 200%;
    text-align: center;
}
*/
#pushScore {
    visibility: hidden;
}

h5 {
    margin-left: 10%;
}

.word_text {
    text-align: center;
    font-size: 1em;
    
}

#word_characters {
    font-size: 1.5em;
    
}

#word_definition {
    font-size: .95em;
}

.word_char {
    display: inline-block;
    margin-left: .70em;
}

.btn_char {
    margin: 4px;
    padding: 5px;
    width: 10vw;
    text-align: center;
    
}

.card {
    background-color: #F0F0F0;
}
.hidden {
    display: none;
}

#game_message {
    text-align: center;
    position: relative;
}

.wrong_guess_button {
    color: red;
    background-color: rgba(105,105,105, 0.5);
}

.right_guess_button {
    color: green;
    background-color: rgba(105,105,105, 0.5);
}