#hangman_image {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.word_text {
    text-align: center;
    font-size: 1em;
    padding-top: 3em;
}

#word_characters {
    font-size: 2em;
    padding-top: 2em;
}

.word_char {
    display: inline-block;
    margin-left: .65em;
}

.btn_char {
    color: blue;
    margin: 4px;
    font-size: larger;
    padding: 5px;
    width: 30px;
    text-align: center;
}

.hidden {
    display: none;
}

#game_message {
    text-align: center;
}

.wrong_guess_button {
    color: red;
}

.right_guess_button {
    color: green;
}